{% extends 'layout.html' %}
{% block body %}
<!--Checks if the user is authenticated if not gives message please login-->
    {% if user.is_authenticated %}
    <div class="login-box">
      <form action="" method="post">

      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit" value="Submit" class="red"><i class="fa fa-paper-plane" aria-hidden="true"></i>Submit</button>
    </div>
      <p><a href="{% url 'logout' %}"><button class="red"><i class="fa fa-sign-out-alt"></i>Log Out</button></a></p>
    {% else %}
      <p>Please login to see this page.</p>
      <p><a href="{% url 'login' %}">Log In</a></p>
    {% endif %}
    
    
{% endblock %}
    
