
<!DOCTYPE html>
<!--Basic layout need to add stuff-->
<html lang="en">
    <head>
        {% load static %}
        <title>Users</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </head>
    <body>
        <h1>Youbble Burza Admin App</h1>
        {% block body %}
        {% endblock %}
        
    </body>
</html>