{% extends "layout.html" %}
<!--Login form for user to login. Shows the message if provided-->
{% block body %}

    <p>Log In</p>

    {% if message %}
        <div class="red">{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label>
            <input type="text" placeholder="Username" name="username"/>
        </label>
        <label>
            <input type="password" placeholder="Password" name="password"/>
        </label>
        <button class="red" type="submit"><i class="fas fa-user"></i> Log in</button>
    </form>
{% endblock %}