{% extends "layout.html" %}
<!--Login form for user to login. Shows the message if provided-->
{% block body %}
    <p><a href="{% url 'yelpapi' %}"><button>Go Back</button></a></p>
    <h1>DATA TO RETURN</h1>

    {% if data_to_return %}

        <p><a href="{% url 'output'%}" Download><button>Download Json </button></a></p>
        <div class="table-wrapper">
            <table class="fl-table">
                <tr>
                    <th>Name</th>
                    <th>Address 1</th>
                    <th>Address 2</th>
                    <th>City</th>
                    <th>Zip Code</th>
                    <th>State</th>
                    <th>Phone No.</th>
                    <th>Photo</th>
                </tr>
                {%for k in data_to_return%}   
                    <tr>
                        <td>{{k.name}}</td>
                        <td>{{k.location.address1}}</td>
                        <td>{{k.location.address2}}</td>
                        <td>{{k.location.city}}</td>
                        <td>{{k.location.zip_code}}</td>
                        <td>{{k.location.state}}</td>
                        <td>{{k.display_phone}}</td>
                      
                        <td><img src="{{k.image_url}}" width=100px alt="Resturant Image" placeholder="resturant image"></td>
                        
                        
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div>{{ message }}</div>

    {% else %}
        <div> <h2>No data </h2>
    {% endif %}

{% endblock %}